body {
  width: 100vw;
  height: 100vh;
  background-color: #1e2f23;
  @include center;
}

.first,
.second,
.third {
  @include size-for-box;
}

.first {
  background-color: #768948;
}

.second {
  background-color: #607744;
}

.third {
  background-color: #34623f;
}
