// center content
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// size for box
@mixin size-for-box {
  width: 0.25rem;
  height: 1rem;
  border-radius: 5rem;
}

// animation stretch
@mixin stretch($time) {
  animation-name: box-stretch;
  animation-duration: #{$time};
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
